.catalog-menu {
    position: absolute;
    top: 115px;
    width: 100%;
    z-index: 106;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
    background-color: #fff;
    @media screen and (max-width: 1280px) {
        display: none;
        visibility: visible;
        opacity: 1;
    }
    @media screen and (max-width: 960px) {
        padding: 0;
        top: 116px;
    }
    @media screen and (max-width: 640px) {
        top: 143px;
        transition: none;
    }
}

.catalog-menu__content {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    @media screen and (max-width: 960px) {
        padding: 25px 20px;
        flex-wrap: wrap;
    }
}

.catalog-menu_active {
    opacity: 1;
    visibility: visible;
    @media screen and (max-width: 1280px) {
        display: flex;
        height: auto;
    }
}

.button-catalog {
    padding-left: 100px;
    position: relative;
    z-index: 5;
    margin-top: auto;
    @media screen and (max-width: 1920px) {
        padding: 15px 26px 15px 60px;
    }
    @media screen and (max-width: 1280px) {
        width: 100%;
    }
    @media screen and (max-width: 960px) {
        margin-top: 0;
        margin-right: 15px;
        display: inline-block;
        width: auto;
    }
    @media screen and (max-width: 640px) {
        order: 3;
        width: 100%;
        margin-right: 0;
        margin-top: 12px;
    }
}

.button-catalog_active {
    background-color: #fff;
    z-indeX: 105;
    color: #222;
    .button-catalog__decor {
        width: 0;
        height: 0;
        &::after, &::before {
            width: 22px;
            background-color: #222;
            top: 50%;
        }
        &::after {
            transform: translateY(-50%) rotate(45deg);
        }
        &::before {
            transform: translateY(-50%) rotate(-45deg);
        }

    }
    &:hover {
        background-color: #fff;
        color: #222;
    }
}

.button-catalog__decor {
    display: block;
    width: 22px;
    height: 3px;
    background: #FFFFFF;
    border-radius: 0.7px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    &::after, &::before {
        content: "";
        width: 22px;
        height: 3px;
        background: #FFFFFF;
        border-radius: 0.7px;
        position: absolute;
    }
    &::after {
        top: -6px;
        left: 0;
    }
    &::before {
        left: 0;
        top: 6px;
        width: 13px;
    }
    @media screen and (max-width: 1920px) {
        left: 25px;
    }
    @media screen and (max-width: 640px) {
        left: 30%;
    }
}

// .catalog-menu {
//     display: flex;
//     justify-content: space-between;
//     padding: 30px 40px;
// }
.catalog-menu__column {
    @media screen and (max-width: 1920px) {
        margin-right: 30px;
        max-width: 276px;
        flex-grow: 1;
        flex-shrink: 0;
        &:last-child {
            margin-right: 0;
        }
    }
}

.catalog-menu__row {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    max-width: 340px;
    margin-right: 30px;
    margin-bottom: 15px;
    width: calc(100% / 4 - 30px);
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (max-width: 1600px) {
        max-width: none;
        width: calc(100% / 3 - 30px);
        margin-bottom: 20px;
        margin-right: 30px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    @media screen and (max-width: 1280px) {
        max-width: none;
        width: calc(100% / 2 - 30px);
        margin-bottom: 30px;
        margin-right: 30px;
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-child(3n) {
            margin-right: 30px;
        }
    }
    @media screen and (max-width: 960px) {
        width: 100%;
        margin: 0;
        padding: 20px;
        border-bottom: 1px solid #E6E6E6;
        &:nth-child(2n), &:nth-child(3n) {
            margin-right: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 640px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.catalog-item__list {
    @media screen and (max-width: 960px) {
        display: none;
        margin-top: 25px;
    }
}

.catalog-item__list_active {
    @media screen and (max-width: 960px) {
        display: block;
    }
}

.catalog-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    @media screen and (max-width: 960px) {
        margin-bottom: 0px;
        cursor: pointer;
        svg {
            transition: all .05s linear;
        }
    }
}

.catalog-item__header_active {
    @media screen and (max-width: 960px) {
        svg {
            transform: rotate(0deg);
        }
    }
}

.catalog-item__title {
    font-family: "Gotham Pro", sans-serif;
    user-select: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    margin-right: 16px;
    max-width: 260px;
    word-wrap: break-word;
    word-break: normal;
    @media screen and (max-width: 960px) {
        font-size: 13px;
        margin-right: 10px;
        letter-spacing: -0.5px;
    }
    @media screen and (max-width: 960px) {
        flex-grow: 1;
        max-width: 100%;
    }
}

.catalog-item__point {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.catalog-item__link {
    font-family: "Gotham Pro", sans-serif;
    font-size: 13px;
    color: #1C69D4;
}

.selection-link {
    display: block;
    padding: 35px 50px 35px 165px;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    @media screen and (max-width: 1920px) {
        display: block;
        padding: 20px 20px 20px 165px;
        position: relative;
    }
    @media screen and (max-width: 1280px) {
        padding-left: 155px;
    }
    @media screen and (max-width: 960px) {
        padding: 25px 160px 35px 25px;
    }
    @media screen and (max-width: 640px) {
        padding: 15px 150px 15px 10px;
    }
}

.selection-link img {
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    @media screen and (max-width: 1920px) {
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.catalog-item__link-all {
    svg {
        display: none;
    }
    @media screen and (max-width: 960px) {
        font-size: 0;
        width: 14px;
        height: 14px;
        border: 0;
        position: relative;
        margin: 0;
        svg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 14.5px;
            transform: rotate(-90deg) scale(1);
            transition: all .05s linear;
        }
    }
    @media screen and (max-width: 640px) {
        padding: 0;
    }
}

.catalog-menu__button {
    margin-bottom: 15px;
    @media screen and (max-width: 960px) {
        border-radius: 0px;
        width: 100%;
        text-align: left;
        order: 5;
        margin-bottom: 0;
    }
}

.catalog-menu__selection-link {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (max-width: 960px) {
        margin-bottom: 0;
        border-radius: 0px;
        border: none;
        width: 50%;
        padding-right: 155px;
        padding-left: 20px;
        img {
            left: auto;
            right: 0;
        }
    }
    @media screen and (max-width: 640px) {
        width: 100%;
    }
}

.catalog-menu__right {
    @media screen and (max-width: 960px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}