.opportunities {
    margin-top: -230px;
    margin-bottom: 25px;
    position: relative;
    z-index: 10;
    @media screen and (max-width: 1280px) {
        margin-top: -280px;
    }
    @media screen and (max-width: 960px) {
        .container {
            width: auto;
            padding: 0px 15px;
        }
    }
    @media screen and (max-width: 640px) {
        .container {
            padding: 0px 5px;
        }
    }
}

.opportunities__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    @media screen and (max-width: 960px) {
        display: block;
    }
}

.opportunities__item {
    @media screen and (max-width: 640px) {
        margin-bottom: 10px;
    }
}

.opportunity-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 460px;
    padding: 30px 30px 20px 80px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    @media screen and (max-width: 1600px) {
        width: 365px;
    }
    @media screen and (max-width: 1280px) {
        margin-right: 5px;
        margin-left: 5px;
        padding: 20px;
    }
    @media screen and (max-width: 960px) {
        width: 100%;
        margin: 0 0 20px;
        padding-right: 50%;
        position: relative;
        display: block;
    }
    @media screen and (max-width: 640px) {
        padding: 20px;
    }
}

.opportunity-item__title {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 8px;
}

.opportunity-item__numb {
    top: 30px;
    left: 20px;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    color: rgba(34, 34, 34, 0.2);
    position: absolute;
    @media screen and (max-width: 1280px) {
        display: none;
    }
}

.opportunity-item__descr {
    font-family: "Gotham Pro", sans-serif;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 10px;
}

.opportunity-item__tel {
    display: block;
    margin-bottom: 5px;
    font-weight: normal !important;
}

.opportunity-item__button {
    margin-top: auto;
    @media screen and (max-width: 960px) {
        position: absolute;
        bottom: 25px;
        right: 20px;
    }
    @media screen and (max-width: 640px) {
        position: relative;
        left: initial;
        right: initial;
        top: initial;
        bottom: initial;
        width: 100%;
    }
}

