.section-profile {
    padding-top: 35px;
    padding-bottom: 35px;
    @media screen and (max-width: 1280px) {
        padding-top: 0px;
        padding-bottom: 15px;
    }
}

.section-profile__row {
    display: flex;
    @media screen and (max-width: 1280px) {
        display: block;
    }
}


.section-profile__content {
    flex-grow: 1;
}