.entry-input {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    transition: all .1s linear;
    background-color: #fff;
}

.entry-input_search {
    .entry-input__icon {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
    }

    .entry-input__field {
        width: 100%;
        padding-left: 50px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.entry-input_pass {
    .entry-input__numbers {
        position: absolute;
        color: #BBBBBB;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        max-height: 11px;
    }

    .entry-input__number-left,
    .entry-input__number-right {
        font-size: 11px;
        line-height: 1;
    }
}


.entry-input__field {
    display: block;
    padding: 20px 20px;
    line-height: 20px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 4px;
    color: #222;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Gotham Pro", sans-serif;
    font-size: 14px;
    &::placeholder {
        font-family: "Gotham Pro", sans-serif;
        font-size: 14px;
        line-height: 14px;
        color: #999999;
    }
    &:focus {
        outline: none;
        border: 1px solid #999999;
    }
    &:disabled {
        opacity: 0.5;
    }
}

.entry-input_icon {
    .entry-input__field {
        padding-right: 35px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.entry-input_req {
    &:after {
        background-image: url("../img/svg/requirement.svg");
    }

    &:focus .entry-input__field {
        border: 1px solid red;
    }

    .entry-input__numbers {
        display: none;
    }
}

.entry-input_focus {
    .entry-input__field {
        border: 1px solid #999999
    }

    &:after {
        display: none;
    }

    .entry-input__numbers {
        display: block;
    }
}

.entry-input_pass.entry-input_error {
    &:after {
        display: none;
    }

    .entry-input__numbers {
        color: #FF4400;
    }
}

.entry-input_correct {
    &:after {
        display: block;
        stroke: #3CA255;
        visibility: visible;
        opacity: 1;
        background-image: url("../img/svg/yes.svg");
        width: 13px;
        height: 10px;
    }

    .entry-input__numbers {
        display: none;
    }
}

.entry-input_error {
    .entry-input__field {
        border: 1px solid #FF4400;
    }

    &:after {
        fill: #FF4400;
        visibility: visible;
        display: block;
        opacity: 1;
        background-image: url("../img/svg/close.svg");
        width: 10px;
        height: 10px;
    }
}

.entry-input_area {
    &:after {
        display: none;
    }
}

.entry-input__complete {
    display: none;
    position: absolute;
    z-index: 50;
    max-height: 224px;
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    border: 1px solid #999999;
    border-top: none;
    overflow-y: overlay;
}

.entry-input__item {
    padding: 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .05s ease;
    cursor: pointer;
    &:hover {
        background: rgba(28, 105, 212, 0.1);
    }
}

.entry-input_active {
    .entry-input__field {
        border-bottom-color: transparent;
        border-radius: 4px 4px 0px 0px;
        //box-shadow: none;
    }
    .entry-input__complete {
        display: block;
    }
}