.form__row {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 15px;
    margin-bottom: 20px;
    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        margin: 0;
    }
}

.form__item {
    width: calc(100% / 2 - 30px);
    margin-bottom: 15px;
    @media screen and (max-width: 640px) {
        width: 100%;
        margin: 0 0 15px;
    }
}

.form__submit {
    font-size: 16px;
    padding: 20px 30px;
    @media screen and (max-width: 640px) {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
}

.form__block {
    width: 100%;
}

.form__bottom {
    margin-top: 35px;
}