.table {
    border: none;
    border-spacing: 0;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    tbody {
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 1280px) {
            min-width: 1450px;
            width: 1450px;
        }
    }

    @media screen and (max-width: 1280px) {
        overflow: scroll;
        max-width: 100%;
        display: block;
    }
}

.table_cart {
    .table__row .table__col:nth-child(3) {
        text-align: center;
    }
    .table__checkbox .checkbox__view {
        margin: 0;
    }
    .table__col_small {
        flex-basis: 80px;
    }
}

.table_classic {
    border-collapse: collapse;
    .table__col {
        border: 1px solid #E3E3E3;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 100);
    }
    .table__header {
        margin-bottom: 0px;
    }
    .table__row {
        padding: 0;
        border: 0;
        border-left: 1px solid #E3E3E3;
        align-items: stretch;
    }
    //.table__row .table__col:nth-child(6) {
    //    flex-basis: auto;
    //}
    .table__col_ultra-small {
        width: 100px;
        max-width: 100px;
    }
    .table__col_text {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        max-height: 150px;
        text-overflow: ellipsis;
        overflow-y: overlay;
    }
}

.table__row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    border-left: 3px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

.table__col {
    flex-basis: 180px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    /*padding-right: 15px;*/
}

.table__col_button {
    cursor: pointer;
}

.table__header {
    background: #E3E3E3;
    padding: 12px 30px;
    margin-bottom: 2px;
    .table__col {
        font-size: 15px;
        font-weight: bold;
    }
    .table__col-big {
        text-align: left;
    }
}

.table__col_big {
    flex-basis: 310px;
    max-width: 310px;
    @media screen and (max-width: 1600px) {
        flex-basis: 300px;
        max-width: 300px;
    }
}

.table__col_bottom {
    align-self: flex-end;
}

.table__checkbox {
    justify-content: center;
}

.table__col_right {
    text-align: right;
}

.table__col_small {
    flex-basis: 120px;
    flex-grow: 0;
}

.table__col, .table__col-big {
    @media screen and (max-width: 960px) {
        width: 50%;
        padding-right: 25px;
    }
}

.table__col_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table__sort-icon {
    width: 20px;
    height: 20px;
    padding-left: 5px;
    flex-shrink: 0;
}

.table__col[data-sort] {
    cursor: pointer;
}

.table__col_full {
    max-width: 100%;
    flex-grow: 1;
}

.table_product {
    .table__col {
        padding: 10px;
        width: 150px;
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
    }
    .table__col_image {
        width: 130px;
        height: 130px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .table__col_big {
        flex-grow: 1;
        flex-basis: auto;
        max-width: initial;
    }
    .table_product-image {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .table__col_small {
        max-width: 140px;
        width: 140px;
    }
}

.table__col_icon {
    padding-left: 25px;
    position: relative;
    gap: 0px 7.5px;
    svg {
        width: 25px;
        height: 25px;
    }
}

