.admin-panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: 1280px) {
        flex-wrap: wrap;
        gap: 15px 0px;
    }
}

.admin-panel__title {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    gap: 0px 15px;
    padding-right: 25px;
    @media screen and (max-width: 960px) {
        width: 100%;
    }
    @media screen and (max-width: 640px) {
        gap: 15px 0px;
    }
}

.admin-panel__count {
    color: #777;
    font-size: 16px;
    display: block;
    align-self: flex-end;
    font-weight: normal;
    padding-bottom: 5px;
    @media screen and (max-width: 640px) {
        width: 100%;
    }
}

.admin-panel__form {
    //max-width: 600px;
    .form__row {
        flex-wrap: nowrap;
        gap: 0px 15px;
    }
    .field-block {
        flex-grow: 1;
    }
}

.admin-panel__table {
    margin-top: 20px;
    display: block;
    overflow: overlay;
    max-width: 100%;
    tbody {
        min-width: 1200px;
    }
}