.pages-content thead {
    display: block;
    min-width: 1200px;
}

.table_col_button svg {
    width: 15px;
    height: 15px;
}

.pages-content__bottom {
    margin-top: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
}