.big-navigation__link {
    color: #1c69d4;
    font-size: 20px;
    line-height: 28px;
}

.big-navigation__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}