.filters {
    display: flex;
    align-items: center;
    min-height: 28px;
}

.filters__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -5px;
    @media screen and (max-width: 640px) {
        width: 100%;
    }
}

.filters__title {
    font-size: 14px;
    color: #666666;
    padding-right: 10px;
    display: block;
    @media screen and (max-width: 1280px) {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    @media screen and (max-width: 640px) {
        margin-bottom: 10px;
        display: block;
    }
}

.filters__item {
    border-radius: 3px;
    border: 1px solid #1C69D4;
    margin-right: 5px;
    color: #1C69D4;
    font-size: 14px;
    padding: 5px 30px 5px 5px;
    transition: all .1s linear;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    &:hover {
        background-color: #1C69D4;
        color: #fff;
        .filters__key {
            color: #fff;
        }
        svg {
            stroke: #fff;
        }
    }
    &:last-child {
        margin-right: 0;
    }
}

.filters__close {
    position: absolute;
    transition: all .1s linear;
    width: 20px;
    height: 100%;
    top: 0;
    right: 5px;
    svg {
        width: 10px;
        height: 10px;
        stroke-width: 2px;
        stroke: #1C69D4;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.filter__item-reset {
    padding: 5px;
    border: 1px solid #CC3333;
    color: #CC3333;
    border-radius: 3px;
    font-size: 14px;
    transition: all .1s linear;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    &:hover {
        background-color: #CC3333;
        color: #fff;
    }
}

.filters__key {
    color: #999;
    display: inline-block;
    &::after {
        content: ":";
    }
}

.options-catalog {
    font-size: 14px;
    padding-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1280px) {
        padding-right: 0;
    }
}

.options-catalog__left {
    @media screen and (max-width: 1280px) {
        width: 100%;
    }
}

.sort-block__select {
    @media screen and (max-width: 1280px) {
        order: 1;
        margin-right: 0;
        width: 100%;
        border: 1px solid #1C69D4;
        border-radius: 4px;
        color: #5988c9;
        .sort-block__title, .select__title {
            color: #5988c9;
            line-height: 14px;
            font-size: 14px;
            font-weight: 400;
        }
        svg {
            order: -1;
            position: static;
            fill: #1C69D4;
            margin: 5px;
        }
        .select__body {
            top: 110%;
            left: 0;
            width: 100%;
            color: #000000;
            font-weight: normal;
        }
        .select__header {
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 20px 15px;
            margin: 0 auto;
        }
    }
}

.view-catalog {
    display: flex;
    gap: 7px;
}

.view-catalog__item {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: all .2s linear;
    svg {
        fill: #DCDCDC;
    }
    &:hover {
        svg {
            fill: #222222;
        }
    }
}

.view-catalog__item_active {
    svg {
        fill: #222222;
    }
}

.sort-block__title {
    color: #666;
    margin-right: 5px;
    display: inline-block;
    @media screen and (max-width: 640px) {
        visibility: hidden;
        width: 0;
        height: 0;
        font-size: 0;
    }
}

.options-catalog__right {
    margin-left: auto;
    display: block;
    @media screen and (max-width: 1280px) {
        display: none;
    }
}

.filter-block__list {
    .filter-block__item:nth-child(n+6):not(.filter-block__item_more) {
        display: none;
    }
}

.filter-block__list_full {
    .filter-block__item:nth-child(n+6):not(.filter-block__item_more) {
        display: block;
    }
}

.page-filter {
    line-height: 20px;
    color: #222222;
    position: relative;
}

.filter-block__header {
    margin-bottom: 15px;
}

.filter-block__subname {
    color: #777777;
}

.filter-block__item {
    display: block;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.filter-block__more {
    color: #1C69D4;
    display: block;
    position: relative;
    padding-right: 20px;
    &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        top: 0px;
        bottom: 0;
        margin: auto;
        transform: rotate(45deg);
        right: 5px;
        border-bottom: 1px solid #1C69D4;
        border-right: 1px solid #1C69D4;
    }
    &.filter-block__more_hide {
        &::after {
            top: 5px;
            transform: rotate(225deg);
        }
    }
}

.page-filter__block {
    margin-bottom: 20px;
    max-width: 360px;
}

.filter-block__header_icon {
    display: inline-block;
    position: relative;
    .filter-block__name {
        position: relative;
        padding-right: 25px;
    }
    svg {
        fill: #fff;
        position: absolute;
        right: 0;
        width: 15px;
        height: 15px;
        bottom: 2px;
    }
}

.filter-block__multi-select {
    @media screen and (max-width: 1280px) {
        max-width: 360px;
    }
}

.page-filter__button {
    width: 100%;
}

.filter-block__descr {
    font-size: 13px;
    color: #777777;
    margin-top: 15px;
}

.page-filter__preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 80;
    background-color: rgba(255, 255, 250, 0.7);
    display: none;
    .loader {
        top: 150px;
        bottom: auto;
        width: 50px;
        height: 50px;
    }
}

.page-filter__preloader_active {
    display: block;
}