.user-nav {
    display: flex;
    gap: 25px;
    @media screen and (max-width: 640px) {
        gap: 0px;
        align-items: center;
    }
}

.user-nav__link {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: block;
    svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    @media screen and (max-width: 640px) {
        padding: 0;
        margin: 0 0 0 20px;
        &:hover {
            .profile-list {
                opacity: 0;
                width: 0;
                height: 0;
                display: none;
                visibility: hidden;
            }
        }
    }
}

.user-nav__item {
    position: relative;
    &::before {
        content: "";
        width: 100%;
        position: absolute;
        display: block;
        height: 25px;
        opacity: 0;
        top: 100%;
    }
}

.user-nav__empty {
    font-weight: bold;
    cursor: auto;
    &:hover {
        text-decoration: none;
    }
}

.user-nav__span {
    @media screen and (max-width: 640px) {
        display: none;
    }
}
.user-nav__link_sign {
    position: relative;
    svg {
        display: block;
        width: 24px;
        height: 24px;
    }
    @media screen and (max-width: 640px) {
        width: 18px;
        height: 18px;
    }
    &::after {
        content: attr(data-user-count);
        position: absolute;
        z-index: 5;
        font-weight: bold;
        font-size: 11px;
        padding: 1px;
        border-radius: 50%;
        color: red;
        background-color: #fff;
        top: -10px;
        left: 15px;
    }
}

.user-nav__link_cart {
    position: relative;
    svg {
        display: inline-block;
        width: 24px;
        height: 24px;
    }
    @media screen and (max-width: 640px) {
        width: 19px;
        height: 19px;
    }
    &::after {
        content: attr(data-cart-count);
        position: absolute;
        z-index: 5;
        font-weight: bold;
        font-size: 11px;
        color: #1C69D4;
        background-color: #fff;
        top: -10px;
        left: 15px;
    }
}


.user-nav__link_active {
    font-weight: bold;
}
